body {
  margin: 0;
  overflow: hidden;
  touch-action: pan-y;
  background-color: black;
}

#loading {
  font: bold 30px bold Georgia, serif;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}